@{
    ViewBag.Title = "WhatzQ";
}



<center>
    
    <table align="center">
        <tr>
            <td>For example:
                <h2>McCall's Quality Model</h2></td>
        </tr>
        <tr>
            <td><img src="~/images/backgroung.PNG"/></td>
        </tr>

    </table>

</center>
